absl-py==0.11.0
astor==0.8.1
astunparse==1.6.3
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
flatbuffers==1.12
gast==0.2.2
google-auth==1.24.0        
google-auth-oauthlib==0.4.2
google-pasta==0.2.0        
grpcio==1.32.0
h5py==2.10.0
idna==2.10
importlib-metadata==3.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.3
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.3.0
Pillow==8.0.1
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.6
selenium==3.141.0
selenium-stealth==1.0.6
six==1.15.0
tensorboard==1.15.0
tensorboard-plugin-wit==1.7.0
tensorflow==1.15.4
tensorflow-estimator==1.15.1
tensorflow-hub==0.10.0
termcolor==1.1.0
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0